<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="http://www.hopecentral.co.za/wp-content/uploads/2020/06/logo.png" class="h-8" alt="Hope central Logo"/>
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">{{ metadata.title }}</span>
    </a>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a href="{{ '/index.html' | url }}" class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page">Home</a>
        </li>
        <li>
          <a href="{{ '/readings/1' | url }}" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Today</a>
        </li>
        <li>
          <a href="{{ '/week/1' | url }}" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Calendar</a>
        </li>
        
        <li>
          <div :class="{'dark': darkMode}" class="bg-white dark:bg-gray-900 dark:text-gray-100">
            <div class="flex items-center justify-center space-x-2 -mt-1">
              <span class=" block py-2 px-3 text-sm text-gray-800 dark:text-gray-500">Light</span>
              <label for="toggle" class="flex items-center h-5 p-1 duration-300 ease-in-out bg-slate-100 rounded-full cursor-pointer w-9 dark:bg-gray-900">
                <input id="toggle" type="checkbox" class="hidden" :checked="darkMode" @change="darkMode = !darkMode">
                <div class="w-4 h-4 duration-300 ease-in-out transform bg-white rounded-full shadow-md toggle-dot" :class="{'dark:translate-x-3': darkMode}"></div>
              </label>
              <span class="text-sm text-gray-400 dark:text-white">Darker</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>