@tailwind base;

@tailwind components;

@tailwind utilities;

.v {
    color: #000;
  font-size: 0.7em;
  letter-spacing: -0.03em;
  vertical-align: 0.25em;
  line-height: 0;
  font-family: sans-serif;
  font-weight: bold;
  margin-right: 3px;

}