<!DOCTYPE html>
<html lang="en" class="h-full bg-slate-800">
    <head>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!-- Meta -->
        <meta name="description" content="{{ metadata.description }}"/>
        <meta name="generator" content="{{ eleventy.generator }}"/>

        <!-- Icons -->
        <!-- https://favicon.io/ -->
        <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ '/apple-touch-icon.png' | url }}"
/>
        <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ '/favicon-32x32.png' | url }}"
/>
        <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ '/favicon-16x16.png' | url }}"
/>
        <link rel="manifest" href="{{ '/site.webmanifest' | url }}"/>

        <title>{{ title or metadata.title }}</title>

        <link rel="stylesheet" href="{{ '/site.css' | url }}"/>
        {# <script type="module" src="/is-land.js"></script> #}

        <script src="https://bibles.org/static/widget/v2/widget.js"></script>
        <script>
            GLOBALBIBLE.init({url: "https://bibles.org", bible: "f421fe261da7624f-01"});
        </script>

        <script defer type="text/javascript" src="{{ '/js/alpine.js' | url }}"></script>
    </head>

    <body x-data="{'darkMode': false}" x-init="
         darkMode = JSON.parse(localStorage.getItem('darkMode'));
         $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))" 
         class="font-sans leading-normal tracking-normal dark:bg-slate-800 dark:text-slate-50 text-gray-900" >

       



    <div :class="{'dark': darkMode}"> 
          {%- include 'components/darkModeHeader.njk' -%}
        <div class="bg-gray-300 dark:bg-slate-800 dark:text-slate-50">
        {{ content | safe }}
  </div>
  </div>
  
</body>
  
</html>