--- 
layout: default 
pagination: 
    data: readings 
    size: 1 
    alias: reading 
permalink: "readings/{{ reading.day | slugify }}/" 
---
     
    
  
    <div class="flex flex-col items-center px-5 py-8 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="flex flex-col w-full max-w-3xl mx-auto prose text-left prose-blue">
            <div class="w-full mx-auto dark:text-slate-400">
                <h1 class="my-4 text-center text-3xl font-bold leading-tight dark:text-slate-300 text-lime-800 md:text-left md:text-5xl">
                    Day {{ reading.day }} - {{ reading.theme}}
                </h1>
                  <p class="mb-6 text-center text-base leading-normal md:text-left md:text-2xl dark:text-slate-300">{{ reading.passage }}</p>
                </div>
                <p class="dark:text-slate-400" > {{ reading.devotion }}</p>
            </div>
        </div>

        <div class="flex flex-col items-center pb-10 mx-auto my-10 border-b border-gray-200 max-w-7xl sm:flex-row">
            <div class="inline-flex items-center justify-center flex-shrink-0 w-20 h-20 text-neutral-600 rounded-full bg-gray-50 sm:mr-10">
                <img src="{{ '/folded-hands-svgrepo-com.svg' | url }}" />
            </div>
            <div class="flex-grow mt-6 prose text-center sm:text-left sm:mt-0 prose-md">
               
               
                <h2>Prayer Prompts</h2>
                <p> {{ reading.prayerPrompt }} </p>
            </div>
        </div>
        <div class="flex flex-col items-center pb-10 mx-auto my-10 border-b border-gray-200 max-w-7xl sm:flex-row">
            <div class="inline-flex items-center justify-center flex-shrink-0 w-20 h-20 text-neutral-600 rounded-full bg-gray-50 sm:mr-10">
                <img src="{{ '/binoculars-safari-svgrepo-com.svg' | url }}" />
            </div>
            <div class="flex-grow mt-6 prose text-center sm:text-left sm:mt-0 prose-md">
                <h2>Optional Passages</h2>










<div class="font-bold justify-center text-center">{{ reading.passages[0].passage.data.reference | safe  }}</div>
                  {{ reading.passages[0].passage.data.content | safe }}





                
                {% set optionalPassagesArray = reading.optionalPassages.split(",")%}
                {% for passage in optionalPassagesArray%}
                    {{ passage | safe }},
                {% endfor %}
            </div>
        </div>
        <div class="flex flex-col items-center pb-10 mx-auto my-10 border-b border-gray-200 max-w-7xl sm:flex-row">
            <div class="inline-flex items-center justify-center flex-shrink-0 w-20 h-20 text-neutral-600 rounded-full bg-gray-50 sm:mr-10">
                <img src="{{ '/biblia-svgrepo-com.svg' | url }}" />
            </div>
            <div class="flex-grow mt-6 prose text-center sm:text-left sm:mt-0 prose-md">

            <div class="font-bold justify-center text-center">{{ reading.mainPassage.passage.data.reference | safe  }}</div>
             {{ reading.mainPassage.passage.data.content | safe  }}

                {# <div class="bg-slate-100 rounded-md " data-gb-widget="passage" data-passage="{{ reading.start }}-{{ reading.end }}" /> #}
            </div>
                        <p>

</p>
        </div>


<bible-tab-reader></bible-tab-reader>

    </div>

