

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Alpine.js Page</title>
    <style>
        body {
            background-color: black;
            color: gray; /* Optionally, set text color to white for better visibility on a black background */
            margin: 0;
            padding: 20px; /* Optional padding for content */
            font-family: Arial, sans-serif; /* Optional font-family */
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
</head>
<body x-data="{ message: 'Hope Central Devotions' }" x-init="init()">

    <div class="container mx-auto my-8 text-center">
        <h1 class="mb-4 text-3xl font-bold">Redirecting to today's passage</h1 >
        <h1 class="mb-4 text-3xl font-bold text-slate-200">click <a href="{{ '/' | url }}"> here</a> to go to the homepage</h1>
        <p class="text-lg" x-text="message"></p>
    </div>

    <script>
        function init() {


            console.log('Function executed on page load');
            // You can perform additional actions or modifications here
            
            const currentPath = window.location.pathname
            console.log(currentPath)
            let path = ""
            let paths = currentPath.split("/")
            if (paths.length == 4 ) {
                // need to add the prefix
                path=`/${paths[1]}`
            }
            
            
            const currentDate = new Date();

            // Format the date using date-fns
            const month = currentDate.toLocaleString('default', { month: 'short' });

            console.log(month);

            // Set the formatted date to Alpine.js variable
            this.formattedDate = `${currentDate.getDate()}-${month}`.toLowerCase();

            console.log("redirect");

            // Redirect to the URL with the formatted date
               
               
               window.location.href = `${path}/reading/${this.formattedDate}/`; 
            
        }
    </script>
</body>
</html>
